{% extends 'base.html' %}

{% block title %}Reservierungen{% endblock %}

{% block content %}
<div class="reservations-container">
    <h2>Heutige zukünftige Reservierungen</h2>
    <hr>
    {% if today_reservations %}
        <ul>
            {% for reservation in today_reservations %}
                <li>
                    {% if reservation.name %}
                        {{ reservation.name }}
                    {% else %}
                        {{ reservation.user.get_full_name }}
                    {% endif %}
                    - {{ reservation.datum }} um {{ reservation.uhrzeit }} Uhr für {{ reservation.anzahl_an_gästen }} Gäste
                </li>
                <p>Anmerkungen: {{reservation.anmerkungen}}</p>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>Keine zukünftigen oder aktuellen Reservierungen für heute.</p>
    {% endif %}
</div>
{% endblock %}
